.download-buttons {
  margin-top: 30px;
}

.featherlight-content {
  background: transparent !important;
}

.featherlight-close-icon {
  color: white !important;
  font-size: 20px;
  line-height: 60px;
  width: 60px;
}